{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
      <div class="contact-intro">{{ . }}</div>
    {{ end }}
  </header>
  <form action="https://formspree.io/f/karteekgole@gmail.com" method="POST" class="contact-form">
    <div class="form-row">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width:100%;">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width:100%;">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="5" required></textarea>
      </div>
    </div>
    <button type="submit">Send</button>
  </form>
</article>
{{ end }}
