@use "../core/settings" as *;

footer {
  border-top: medium double var(#{$css-var-prefix}primary);
  padding: 1rem 0;
  text-align: center;
  margin-top: 2rem;

  .social {
    justify-content: center;

    svg {
      max-width: 2rem;
    }
  }

  p {
    color: var(#{$css-var-prefix}muted-color);
    font-family: var(#{$css-var-prefix}font-family-header);
    font-size: 0.9rem;
  }
}
