@use "../core/settings" as *;

body>header {
  display: flex;
  align-items: center;
  justify-content: center;

  hgroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    margin: 0 0 0 0.5rem;

    h1 {
      margin-top: 0.3rem;

      a {
        font-size: 1.8rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    nav {
      li {
        padding: 0 0.65rem;

        a {
          font-family: var(#{$css-var-prefix}font-family-header);
          text-decoration: none;
        }
      }
    }
  }
}
