{{ $logoLight := .Site.Params.logoLight | default "logo-light.png" }}
{{ $logoDark := .Site.Params.logoDark | default "logo-dark.png" }}

<a href="{{ $.Site.BaseURL }}" class="logo" aria-label="{{ .Site.Title }}">
    {{ if .Site.Params.Logo }}
        <img class="site-logo" src="{{ .Site.Params.Logo | relURL }}" alt="{{ .Site.Title }}" width="55">
    {{ else }}
        <img class="site-logo logo-light" src="{{ $logoLight | relURL }}" alt="{{ .Site.Title }}" width="55">
        <img class="site-logo logo-dark" src="{{ $logoDark | relURL }}" alt="{{ .Site.Title }}" width="55">
    {{ end }}
</a>

