@use "sass:color";
@use "sass:map";
@use "../core/colors" as *;
@use "../core/settings" as *;

$color-mappings: (
  "default": ("dark": ("text-selection-color": rgba($white, 0.25),
      "primary": $white,
      "primary-background": $black,
      "primary-underline": $white,
      "primary-hover": $white,
      "primary-hover-background": $white,
      "primary-focus": rgba($white, 0.5),
      "primary-inverse": $black,
      "switch-thumb-box-shadow": 0 0 0.5rem rgba($white, 0.25),
    ),
    "light": ("text-selection-color": rgba($black, 0.25),
      "primary": $black,
      "primary-background": $white,
      "primary-underline": $black,
      "primary-hover": $black,
      "primary-hover-background": $black,
      "primary-focus": rgba($black, 0.5),
      "primary-inverse": $white,
      "switch-thumb-box-shadow": 0 0 0.5rem rgba($black, 0.25),
    ),
  ),
);

@function get($key, $mode: "light") {
  @return map.get(map.get(map.get($color-mappings, $theme-color), $mode), $key);
}
